# dependencies
/node_modules
/.pnp
.pnp.js

# build output
/dist
/tmp
/out-tsc
/bazel-out
.angular/cache

# environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.launch
.project
.classpath
.c9/
.settings/

# logs & misc
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
/coverage
/libpeerconnection.log
testem.log
.DS_Store
Thumbs.db
